<div class="container">
  <div class="user-notification">
    <div class="bell" mat-icon-button [matMenuTriggerFor]="notifications">
      <mat-icon>notifications</mat-icon>
    </div>
    <div *ngIf="hasNotifications" class="notification-dot"></div>
    <mat-menu #notifications="matMenu" class="notification-list">
      <span>Ticket Status</span>
      <mat-list>
        <div class="urgent">
          <div class="urgent-title">URGENT</div>
          <mat-divider></mat-divider>
          <mat-list-item *ngIf="lateServicesRequest.length" class="urgent-list">
            <div>Late Service Request {{ lateServicesRequest.length }}</div>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item *ngIf="lateWorkOrders.length">
            <div>Late Work Orders {{ lateWorkOrders.length }}</div>
            <mat-icon>keyboard_arrow_right</mat-icon></mat-list-item
          >
        </div>
        <mat-divider></mat-divider>
        <div class="pending">
          <div class="pending-title">PENDING</div>
          <mat-divider></mat-divider>
          <mat-list-item *ngIf="pendingServicesRequest.length">
            <div>Service Request {{ pendingServicesRequest.length }}</div>
            <mat-icon>keyboard_arrow_right</mat-icon></mat-list-item
          >
          <mat-divider></mat-divider>
          <mat-list-item *ngIf="pendingWorkOrders.length">
            <div>Work Orders {{ pendingWorkOrders.length }}</div>
            <mat-icon>keyboard_arrow_right</mat-icon></mat-list-item
          >
        </div>
      </mat-list>
    </mat-menu>
    <div class="menu" mat-icon-button [matMenuTriggerFor]="menu">
      <div class="dot"></div>
      <div class="user">
        {{ loggedInUser.firstName }} {{ loggedInUser.lastName }}
      </div>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>My Profile</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>assignment</mat-icon>
        <span>My Tasks</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>format_list_bulleted</mat-icon>
        <span>Select Affiliate</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>key</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
  </div>
</div>
